@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

body {
  font-family: "Arvo", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #708090;
}

.sidebar {
  color: rgb(56, 49, 155);
  text-align: center;
  margin-right: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 5px solid black;
  display: inline-block;
  width: 960px;
  height: 960px;
}

.cell {
  justify-content: center;
  align-items: center;
  display: flex;
  background: white;
  outline: 1px solid black;
}

.cell:hover {
  opacity: 0.2;
}

.reset,
.rainbow {
  max-width: 60%;
  appearance: button;
  background-color: rgb(49, 116, 155);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin-top: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.reset:after,
.rainbow:after {
  background-clip: padding-box;
  background-color: rgb(56, 49, 155);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.reset:main,
.reset:focus,
.rainbow:main,
.rainbow:focus {
  user-select: auto;
}

.reset:hover:not(:disabled),
.rainbow:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.reset:disabled,
.rainbow:disabled {
  cursor: auto;
}
